<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>View Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/bootstrap.css">
</head>
<body>
    <div>
        <h1>View Student</h1>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">

            </div>
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <p>
                    <a href="/">back to home</a>
                </p>
            </div>
        </div>
    </div>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/utilidades.js"></script>
    <script src="/Scripts/view.js"></script>
</body>
</html>